<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

<section>
<h2>{{venueName}}</h2>
<h3>{{formattedDate}}</h3>
<h3>{{venueCity}}, {{venueState}} {{startTimes}}</h3>
{{{descHtml}}}
</section>

</article>
