<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

<section>
<h2>{{venueName}}</h2>
<h3>{{formattedDate}}</h3>
<h3><h3><a href="{{venueMap}}" target="_map">{{venueCity}}, {{venueState}}</a> {{startTimes}}</h3>
{{{descHtml}}}
{{#fbEvent}}<p><a href="{{.}}">Facebook Event</a></p>{{/fbEvent}}
</section>

</article>
