<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

{{{message-display}}}

{{^loggedIn}}
<section>
<h3>{{title}}</h3>
<h3>{{date}}</h3>
<p>{{startTime}}
<p>{{durationH}} hours, {{durationM}} minutes
<p><a href="{{API_DIR}}/venue/{{venue}}">{{venueName}}</a>
<pre>{{desc}}</pre>
</section>
{{/loggedIn}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
<input type="hidden" name="method" value="PUT">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{date}}" required="required" autofocus="autofocus">

<p><label>Start</label>*<br>
    <input type="time" name="startTime" value="{{startTime}}" required="required">

<p><label>Duration</label>*<br>
    <input type="number" name="durationH" min="0" max="24" step="1" value="{{durationH}}"> hours
    <input type="number" name="durationM" min="0" max="60" step="1" value="{{durationM}}"> minutes

<p><label>Venue</label>*<br>
    <select name="venue" required="required">
    {{#venues}}
        <option value="{{id}}"{{{selected}}}>{{name}}</option>
    {{/venues}}
    </select>

<p><label>Gig Name</label><br>
    <input type="text" name="title" value="{{title}}">

<p><label>Description<br><textarea name="desc">{{desc}}</textarea></p>

<footer><p><button>Update {{resourceName}}</button></footer>
</form>
</section>

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>
{{/loggedIn}}
</article>
