<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{formData.date}}" autofocus="autofocus">

<p><label>Start</label>*<br>
    <input type="time" name="startTime" required="required" value="{{formData.startTime}}">

<p><label>Duration</label>*<br>
    <input type="number" name="durationH" min="0" max="24" step="1" value="{{formData.durationH}}"> hours
    <input type="number" name="durationM" min="0" max="60" step="1" value="{{formData.durationM}}"> minutes

<p><label>Venue</label>*<br>
    <select name="venue" required="required">
        <option value="">Choose Venue</option>
        {{#venues}}
        <option value="{{id}}"{{{selected}}}>{{name}}</option>
        {{/venues}}
    </select>

<p><label>Gig Name</label><br>
    <input type="text" name="title" value="{{formData.title}}">

<p><label>Facebook Event</label><br>
    <input type="url" name="fbEvent" value="{{formData.fbEvent}}">

<p><label>Description<br><textarea name="desc">{{formData.desc}}</textarea></p>

<footer><p><button>Create {{resourceName}}</button></footer>
</form>
</section>

<section class="list">
{{#gig}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{formattedDate}} {{gigName}}</a></p>
{{/gig}}
</section>

</article>
