<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{#hasError}}
<ul class="msg error">
{{#error}}
<li>{{.}}</li>
{{/error}}
</ul>
{{/hasError}}

{{#hasMsg}}
<ul class="msg">
{{#msg}}
<li>{{.}}</li>
{{/msg}}
{{#link}}
<li><a href="{{href}}">{{text}}</a></li>
{{/link}}
</ul>
{{/hasMsg}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{today}}" autofocus="autofocus">

<p><label>Start</label>*<br>
    <input type="time" name="startTime" value="20:00" required="required">

<p><label>Duration</label>*<br>
    <input type="number" name="durationH" min="0" max="24" step="1" value="1"> hours
    <input type="number" name="durationM" min="0" max="60" step="1" value="0"> minutes

<p><label>Venue</label>*<br>
    <select name="venue" required="required">
        <option value="">Choose Venue</option>
        {{#venues}}
        <option value="{{id}}"{{{selected}}}>{{name}}</option>
        {{/venues}}
    </select>

<p><label>Description<br><textarea name="desc">{{desc}}</textarea></p>

<p><label>Gig Name</label><br>
    <input type="text" name="title" value="">

<p><button>Create {{resourceName}}</button> <button type="reset">Clear Form</button>
</form>
</section>
{{/loggedIn}}

<section class="list">
{{#gig}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{formattedDate}} {{gigName}}</a></p>
{{/gig}}

</section>

</article>
