<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="site-page">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{#releaseMd}}
<section>
{{{releaseHtml}}}

{{#releaseName}}
<h3>{{releaseName}}</h3>
{{/releaseName}}
{{#releaseLinks}}
<p><a href="{{.}}" target="_music">{{.}}</a>
{{/releaseLinks}}
</section>
{{/releaseMd}}

{{#donationSection}}
<section>
{{{donationHtml}}}

{{#hasPayment}}
<h3>Tip Jar</h3>
{{#payment.venmo}}
<p><a href="https://account.venmo.com/u/{{.}}">Venmo</a></p>
</section>
{{/payment.venmo}}
{{/hasPayment}}
</section>
{{/donationSection}}

{{#subscribeSection}}
<section>
{{{subscribeHtml}}}

{{#hasSocialMedia}}
<h3>Social Media</h3>
{{#social.fb}}
<p>Facebook: <a href="{{.}}">{{.}}</a></p>
{{/social.fb}}
{{#social.spotify}}
<p>Spotify: <a href="{{.}}">{{.}}</a></p>
{{/social.spotify}}
{{#social.instagram}}
<p>Instagram: <a href="{{.}}">{{.}}</a></p>
{{/social.instagram}}
{{#social.youtube}}
<p>YouTube: <a href="{{.}}">{{.}}</a></p>
{{/social.youtube}}
{{#social.podcast}}
<p>Podcast: <a href="{{.}}">{{.}}</a></p>
{{/social.podcast}}
{{/hasSocialMedia}}
</section>
{{/subscribeSection}}

</article>
