<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> {{#resourceName}}&gt; <a href="{{{API_DIR}}}/{{.}}">{{.}}s</a>{{/resourceName}} {{#pageName}}&gt; {{.}}{{/pageName}}</h5>

<section class="release">
{{#upcomingRelease}}
<h2>{{pageName}}</h2>
<h3>Releasing on {{date}}</h3>
{{#cover-front}}
<img src="/photo/{{cover-front}}" alt="Front cover">
{{/cover-front}}
{{/upcomingRelease}}

{{^upcomingRelease}}
<h2>{{pageName}}</h2>
{{#cover-front}}
<img src="/photo/{{cover-front}}" alt="Front cover">
{{/cover-front}}
{{#cover-back}}
<img src="/photo/{{cover-back}}" alt="Back cover">
{{/cover-back}}
<h3>{{date}}</h3>
{{{descHtml}}}

{{#audioMedia}}
<p><a href="{{url}}" target="_music">Listen on {{domain}}</a></p>
{{/audioMedia}}

{{#blogMedia}}
<p><a href="{{url}}" target="_blog">Read on {{domain}}</a></p>
{{/blogMedia}}
{{/upcomingRelease}}
</section>

{{#hasAlbumList}}
<section>
<h2>Album Tracks</h2>
{{#albumList}}
<p><a href="{{{API_DIR}}}/song/{{song-id}}">{{song-name}}</a></p>
{{/albumList}}
</section>
{{/hasAlbumList}}

{{#hasVideo}}
<section>
{{#videoMedia}}
<p><a href="{{url}}" target="_video">Watch on {{domain}}</a></p>
{{/videoMedia}}
</section>
{{/hasVideo}}

{{#credits}}
<section>
<h2>Credits</h2>
<pre>{{.}}</pre>
</section>
{{/credits}}

</article>
