<!doctype html>
<html lang="en">
<title>New Releases - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>New Releases</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; New Releases</h5>

{{#release}}
<section class="release">
{{#upcomingRelease}}
<h2>{{pageName}}</h2>
<h3>Releasing on {{date}}</h3>
{{/upcomingRelease}}
{{^upcomingRelease}}
<h2><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{pageName}}</a></h2>
<h3>{{date}}</h3>
{{/upcomingRelease}}
{{#cover-front}}
<img src="/photo/{{cover-front}}" alt="Front cover">
{{/cover-front}}
{{{descHtml}}}
{{#releaseLink}}
<p><a href="{{.}}" target="_music">Listen</a></p>
{{/releaseLink}}
</section>
{{/release}}

</article>
