<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

{{#hasError}}
<ul class="msg error">
{{#error}}
<li>{{.}}</li>
{{/error}}
</ul>
{{/hasError}}

{{#hasMsg}}
<ul class="msg">
{{#msg}}
<li>{{.}}</li>
{{/msg}}
{{#link}}
<li><a href="{{href}}">{{text}}</a></li>
{{/link}}
</ul>
{{/hasMsg}}

<section>

{{^loggedIn}}
<h3>{{name}}</h3>
<p>Released on {{date}}</p>
<p><img src="{{cover-front}}"></p>
<p><img src="{{cover-back}}"></p>
<pre>{{desc}}</pre>
</section>
{{/loggedIn}}

{{#loggedIn}}
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
<input type="hidden" name="method" value="PUT">

<p><label>Name</label><br>
    <input type="text" name="name" value="{{name}}" autofocus="autofocus" required="required">
<p><label>Release Date</label>*<br>
    <input type="date" name="date" value="{{date}}">
<p><label>Front Cover</label><br>
    <input type="text" name="cover-front" value="{{cover-front}}">
<p><label>Back Cover</label><br>
    <input type="text" name="cover-back" value="{{cover-back}}">
<p><label>Description<br><textarea name="desc">{{desc}}</textarea></p>
<p><label>Credits<br><textarea name="credits">{{credits}}</textarea></p>

<h2>Album Links <span>(if needed)</span></h2>
<p><label>Spotify</label><br>
    <input type="text" name="spotify" value="{{audio.spotify}}">
<p><label>Apple Music</label><br>
    <input type="text" name="apple" value="{{audio.apple}}">
<p><label>Amazon Music</label><br>
    <input type="text" name="amazon" value="{{audio.amazon}}">
<p><label>YouTube</label><br>
    <input type="text" name="youtube" value="{{audio.youtube}}">
<p><label>CD Baby</label><br>
    <input type="text" name="cdbaby" value="{{audio.cdbaby}}">

<p><button>Update {{resourceName}}</button>
</form>
</section>

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>

<section>
<h2>Songs</h2>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
    <p><select name="song-id">
        <option value="">Select Song</option>
        {{#songlist}}
        <option value="{{song-id}}">{{song-name}}</option>
        {{/songlist}}
    </select>
    <p><button>Add Song</button>
</form>

<h3>Album Order</h3>
{{#albumList}}
<div class="songlist">
<p>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
    <input type="hidden" name="method" value="PATCH">
    <input type="hidden" name="index" value="0">
    <input type="hidden" name="song-id" value="{{song-id}}">
    <button>↑</button>
</form>
{{song-name}}
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
    <input type="hidden" name="method" value="PATCH">
    <input type="hidden" name="index" value="-1">
    <input type="hidden" name="song-id" value="{{song-id}}">
    <button>×</button>
</form>
</p>
</div>
{{/albumList}}
{{/loggedIn}}
</section>
</article>
