<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Title</label><br>
    <input type="text" name="name" autofocus="autofocus" value="{{formData.name}}">

<p><label>Release Date</label>*<br>
    <input type="date" name="date" required="required" value="{{formData.date}}" required="required">

<p><label>Start Promotion On</label><br>
    (Show title, release date, front cover, and description only)<br>
    <input type="date" name="promotionStart" value="{{formData.promotionStart}}">

<h2>Front Cover</h2>
<div class="photos">
<label>
    <input type="radio" name="cover-front" value=""{{{no-photo}}}>
    <img src="{{API_DIR}}/nophoto" alt="No photo">
</label>
{{#front-cover-photos}}
<label>
    <input type="radio" name="cover-front" value="{{file}}"{{{selected}}}>
    <img src="/photo/{{thumb}}">
</label>
{{/front-cover-photos}}
</div>

<h2>Back Cover</h2>
<div class="photos">
<label>
    <input type="radio" name="cover-back" value=""{{{no-photo}}}>
    <img src="{{API_DIR}}/nophoto" alt="No photo">
</label>
{{#back-cover-photos}}
<label>
    <input type="radio" name="cover-back" value="{{file}}"{{{selected}}}>
    <img src="/photo/{{thumb}}">
</label>
{{/back-cover-photos}}
</div>

<p><label>Description<br><textarea name="desc">{{formData.desc}}</textarea></p>
<p><label>Credits<br><textarea name="credits">{{formData.credits}}</textarea></p>

<h2>Tracks</h2>
<p><select name="initial-song">
<option value="">Select Song</option>
{{#songlist}}
<option value="{{song-id}}"{{{selected}}}>{{song-name}}</option>
{{/songlist}}
</select>

<h2>Album Links</h2>
<p>Album specific media only, please. If you are releasing a single, you dont need this part.</p>
<p id="media"><label>Media Links</label><br>
    <input type="url" name="media" value="{{formData.media}}">
    <select name="type">
        {{#media}}
        <option value="{{name}}"{{{selected}}}>{{name}}</option>
        {{/media}}
    </select>
<p>More links to audio and video can be added after the song is created.</p>

<!-- <h3>Audio</h3>
<p><label>Spotify</label><br>
    <input type="text" name="spotify" value="{{formData.spotify}}">

<h3>Video</h3>
<p><label>YouTube</label><br>
    <input type="text" name="youtube" value="{{formData.youtube}}">
<p><label>Facebook</label><br>
    <input type="text" name="fb" value="{{formData.fb}}"> -->

<footer><p><button>Create {{resourceName}}</button></footer>
</form>
</section>

<section class="list">
{{#release}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{pageName}}</a></p>
{{/release}}
</section>

</article>
