<header>
    {{#loggedIn}}
    <p><a href="{{{API_DIR}}}/logout">Logout</a></p>
    <h2><a href="{{{API_DIR}}}/">Home</a></h2>
    <p>
        <a href="{{{API_DIR}}}/site">Site</a>
        <a href="{{{API_DIR}}}/band">Band</a>
        <a href="{{{API_DIR}}}/gig/">Gigs</a>
        <a href="{{{API_DIR}}}/venue/">Venues</a>
        <a href="{{{API_DIR}}}/song/">Songs</a>
        <a href="{{{API_DIR}}}/release/">Releases</a>
        <a href="{{{API_DIR}}}/announcement/">Announcements</a>
        <a href="{{{API_DIR}}}/user/">Members</a>
        <a href="{{{API_DIR}}}/photo/">Photos</a>
    </p>
    <p><a href="{{{API_DIR}}}/logout">Logout</a></p>
    <h6><a href="{{{API_DIR}}}/version/">Your Local Band v1.2.1</a></h6>
    {{/loggedIn}}

    {{^loggedIn}}
    <p><a href="{{{API_DIR}}}/login">Login</a></p>
    <h2><a href="{{{API_DIR}}}/">Home</a></h2>
    <p>
        <a href="{{{API_DIR}}}/band">About</a>
        <a href="{{{API_DIR}}}/gig/?range=upcoming">Upcoming Shows</a>
        <a href="{{{API_DIR}}}/release/">New Releases</a>
        <a href="{{{API_DIR}}}/song/">All Songs</a>
    </p>
    <form method="POST" action="{{{API_DIR}}}/login">
    <p><label>Email</label><br>
        <input type="email" name="username" type="email" id="username">
    <p><label>Password</label><br>
        <input type="password" id="password" name="password">
    <p><button>Log In</button>
    </form>
    {{/loggedIn}}
</header>