@import url("custom.css");

* {box-sizing: border-box; }
html {padding: 0; font-family: droid sans, sans-serif; }
body {margin: 0; padding-left: 240px; padding-bottom: 200px; }
a {color: rgb(var(--color1))}
a:visited {rgba(var(--color1), 0.9); }
pre {
    max-width: 580px;
    white-space: pre-wrap;
}
body > header {
    padding: 12px;
    position: fixed;
    width: 240px;
    top: 0; bottom: 0; left: 0;
    background: rgb(var(--color1));
    overflow: auto;
}
body > header h2 {
    margin-top: 0;
}
body > header a {
    margin: 4px; padding: 4px;
    text-decoration: none;
    color: white;
}
body > header p {
    margin-bottom: 1em;
    font-size: 20px;
}
body > header p a {
    display: block;
}
li {font-size: 16px; margin-bottom: 0.3em; line-height: 1.4em; }
h1 {
    margin: 0.5em 12px; padding: 8px;
    font-size: 36px;
    text-transform: capitalize;
    color: rgb(var(--color2));
}
h2 {margin: 0.5em 0; font-size: 32px; text-transform: capitalize; }
h3 {margin: 0.5em 0; font-size: 28px; }
h4 {margin: 0.5em 0; font-size: 24px; }
p, h5 {margin: 0.5em 0; font-size: 17px; line-height: 1.4em; max-width: 580px; }
h6 {margin: 0.5em 0; }
input, select {font-size: 17px; }
input[type="text"], input[type="email"], input[type="password"] {
    width: 22em;
}
textarea {width: 100%; height: 8em; font-size: 16px; max-width: 580px; }
button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
    padding: 12px;
    font-size: 17px;
    background-color: rgb(var(--color1));
    color: #fff;
    text-transform: uppercase;
    line-height: 17px;
    border: 0 none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
a.button {display: inline-block; text-decoration: none; }
button:focus, input:focus {outline: 0 none; }
label {font-weight: bold; }
input:invalid, select:invalid {
    border-color: red;
}

section {
    margin: 12px; padding: 8px;
    background: white;
    border-top: 1px #888 solid;
}
section > *:first-child {
    margin-top: 0;
}

@media (max-width: 800px) {
    body {
        padding-top: 64px;
        padding-left: 0;
    }
    body > header {
        right: 0;
        bottom: auto;
        width: 100%;
        height: 64px;
        overflow: hidden;
    }

    body#home-page {
        padding-top: 0;
    }
    body#home-page > header {
        height: auto;
        bottom: 0;
        overflow: auto;
    }
}