<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

{{{message-display}}}

{{^loggedIn}}
<section>
<h2>{{date}}</h2>
<pre>{{copy}}</pre>
<p>Include song {{song}}</p>
<p>Pinned: {{pinned}}
</section>
{{/loggedIn}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
<input type="hidden" name="method" value="PUT">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{date}}" autofocus="autofocus" required="required">

<p><label>Announcement</label><br><textarea name="copy">{{copy}}</textarea></p>
<p>The announcement content must be plain text, but may also use <a href="https://www.markdownguide.org/" target="_blank">markdown syntax</a>.</p>

<p><label>Include Song</label><br>
    <select name="song">
        <option value="">Select Optional Song</option>
    {{#songs}}
        <option value="{{id}}"{{{selected}}}>{{name}}</option>
    {{/songs}}
    </select>

<p><label><input type="checkbox" name="pinned" value="Y"{{{pinnedChecked}}}> Pin to Home Page</label>

<footer><p><button>Update {{resourceName}}</button></footer>
</form>
</section>

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>

<section class="list">
<h4>Announcements</h4>
{{#announcements}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{date}}{{#pinned}}*{{/pinned}}
    {{shortCopy}}</a>
</p>
{{/announcements}}
</section>
{{/loggedIn}}
</article>
