<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{#hasError}}
<ul class="msg error">
{{#error}}
<li>{{.}}</li>
{{/error}}
</ul>
{{/hasError}}

{{#hasMsg}}
<ul class="msg">
{{#msg}}
<li>{{.}}</li>
{{/msg}}
{{#link}}
<li><a href="{{href}}">{{text}}</a></li>
{{/link}}
</ul>
{{/hasMsg}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{today}}" autofocus="autofocus" required="required">

<p><label>Announcement</label>*<br>
    <textarea name="copy" required="required"></textarea></p>
<p>The announcement content must be plain text, but may also use <a href="https://www.markdownguide.org/" target="_blank">markdown syntax</a>.</p>

<p><label>Include Song</label><br>
    <select name="song">
        <option value="">Select Optional Song</option>
    {{#songs}}
        <option value="{{id}}">{{name}}</option>
    {{/songs}}
    </select>

<p><label><input type="checkbox" name="pinned" value="Y"> Pin to Home Page</label>

<p><button>Create {{resourceName}}</button>
</form>
</section>
{{/loggedIn}}

<section class="list">
{{#announcement}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{formattedDate}}{{#pinned}}*{{/pinned}}
    {{shortCopy}}</a>
</p>
{{/announcement}}
</section>

</article>
