<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Date</label>*<br>
    <input type="date" name="date" value="{{formData.date}}" autofocus="autofocus" required="required">

<p><label>Announcement</label>*<br>
    <textarea name="copy" required="required">{{formData.copy}}</textarea></p>
<p>The announcement content must be plain text, but may also use <a href="https://www.markdownguide.org/" target="_blank">markdown syntax</a>.</p>

<p><label>Include Song</label><br>
    <select name="song">
        <option value="">Select Optional Song</option>
    {{#songs}}
        <option value="{{id}}">{{name}}</option>
    {{/songs}}
    </select>

<p><label><input type="checkbox" name="pinned" value="Y"> Pin to Home Page</label>

<footer><p><button>Create {{resourceName}}</button></footer>
</form>
</section>
{{/loggedIn}}

<section class="list">
{{#announcement}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{formattedDate}}{{#pinned}}*{{/pinned}}
    {{shortCopy}}</a>
</p>
{{/announcement}}
</section>

</article>
