<!doctype html>
<html lang="en">
<title>{{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<h1>{{homeName}}</h1>

{{#hasAnnouncements}}
<section>
    <h2>Announcements</h2>
    {{#announcements}}
    <h5>{{date}}</h5>
    {{{announcement}}}
    {{#songLink}}
    <p><a href="{{url}}" target="_spotify">{{text}}</a></p>
    {{/songLink}}
    {{/announcements}}
</section>
{{/hasAnnouncements}}

{{#nextGig}}
<section>
    <h2>Next Show</h2>
    {{#title}}<h3>{{.}}</h3>{{/title}}
    <h5>{{date}} {{startTime}}</h5>
    {{#venue}}
    <h4>{{name}}</h4>
    <p><a href="https://www.google.com/maps/?q={{name}}%{{city}},%{{state}}" target="_map">{{city}}, {{state}}</a></p>
    {{/venue}}
    {{{desc}}}

    {{#moreGigs}}<h5><a href="{{{API_DIR}}}{{url}}">{{text}}</a></h5>{{/moreGigs}}
    {{#pastGigs}}<h5><a href="{{{API_DIR}}}{{url}}">{{text}}</a></h5>{{/pastGigs}}
</section>
{{/nextGig}}

{{#latestRelease}}
<section>
    <h2>{{releaseTitle}}</h2>
    <h3>{{name}}</h3>
    <h5>{{#upcomingRelease}}Releasing on {{/upcomingRelease}}{{date}}</h5>
    {{#frontCover}}<p><img src="/photo/{{frontCover}}"></p>{{/frontCover}}
    {{{desc}}}

    {{^upcomingRelease}}
        {{#spotifyUrl}}
            <h5><a href="{{spotifyUrl}}" target="_spotify">{{name}}</a></h5>
        {{/spotifyUrl}}
    {{/upcomingRelease}}
    {{#moreReleases}}<h5><a href="{{{API_DIR}}}/release">More Releases</a></h5>{{/moreReleases}}
</section>
{{/latestRelease}}

{{#hasSongs}}
<section>
    <h2><a href="{{{API_DIR}}}/song">All Songs</a></h2>
</section>
{{/hasSongs}}

{{#hasAbout}}
<section>
    <h2>About {{homeName}}</h2>
    {{{bandDesc}}}
    <h5><a href="{{{API_DIR}}}/band">More...</a></h5>
</section>
{{/hasAbout}}

<section>
    <h2><a href="{{{API_DIR}}}/support">Support the Music</a></h2>
</section>

</article>

<footer>
{{#social}}
<p><a href="{{url}}" target="_{{text}}">{{text}}</a></p>
{{/social}}
</footer>
