<!doctype html>
<html lang="en">
<title>Band - {{homeName}}</title>
{{{head}}}

<body id="site-page">
{{{header}}}

<article>
<h1>{{name}}</h1>

<section>
<h2>Band Info</h2>
<form method="POST" action="/api/home" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="method" value="PUT">
<p><label>Band Name</label>*<br>
    <input type="text" name="name" value="{{name}}" autofocus="autofocus" required="required">
<p><label>Primary Color</label><br>
    <input type="color" name="color1" value="{{color1}}">
<p><label>Secondary Color</label><br>
    <input type="color" name="color2" value="{{color2}}">
<p><label>Bio</label><br>
    <textarea name="bio">{{bio}}</textarea></p>
<p><label>Contact Information</label><br>
<textarea name="contact">{{contact}}</textarea></p>
<p>Your bio and contact information must be plain text, but may also use <a href="https://www.markdownguide.org/" target="_blank">markdown syntax</a>.</p>

<h2>Social Media</h2>
<p><label>Facebook</label><br>
    <input type="text" name="social-fb" value="{{social.fb}}">
<p><label>Spotify</label><br>
    <input type="text" name="social-spotify" value="{{social.spotify}}">
<p><label>Instagram</label><br>
    <input type="text" name="social-instagram" value="{{social.instagram}}">
<p><label>YouTube</label><br>
    <input type="text" name="social-youtube" value="{{social.youtube}}">
<p><label>Anchor</label><br>
    <input type="text" name="social-anchor" value="{{social.anchor}}">

<p><button>Update Site Information</button>
</form>

{{^isMod}}
<p>{{desc}}
{{/isMod}}
</section>

</article>
