<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="fonts">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

{{#loggedIn}}
<section>
{{^full}}
<p>Using {{fontCount}} fonts out of 4 maximum.</p>
<form method="POST" action="{{API_DIR}}/font" enctype="multipart/form-data">
<p><input type="file" name="font" accept="{{accept}}"></p>
<p><button>Upload Font</button></p>
</form>
{{/full}}
{{#full}}
<p>You are at the maximum number of fonts (4.)
<p>If you want to add new fonts, you'll have to delete some first.
{{/full}}
</section>
{{/loggedIn}}

<section class="list">
{{#fonts}}
<p><a href="{{API_DIR}}/font/{{.}}">{{.}}</a></p>
{{/fonts}}
</section>

</article>
