<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

<section id="photo-noauth">
{{#photos}}
<img src="/photo/{{.}}">
{{/photos}}
</section>

</article>
