<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}
<style>
section > p > img {
    width: 100%;
    float: none;
}
</style>
<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; <a href="{{API_DIR}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

{{{message-display}}}

<section>
<p><img src="/photo/{{id}}"></p>
<p>{{width}} × {{height}}</p>
<p>{{size}} bytes</p>
</section>

{{#loggedIn}}
<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>

<section class="photolist">
{{#photos}}
<p><a href="{{API_DIR}}/photo/{{id}}"><img src="/photo/{{id}}"><span>{{width}} × {{height}}</span></a></p>
{{/photos}}
</section>

{{/loggedIn}}
</article>
