<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="site-page">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

<section>
<form method="POST" action="{{API_DIR}}/band" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="method" value="PUT">
<p><label>Band Name</label>*<br>
    <input type="text" name="name" value="{{name}}" autofocus="autofocus" required="required">
<p><label>City</label><br><input type="text" name="city" value="{{city}}">
<p><label>State</label><br><input type="text" name="state" value="{{state}}">
<p><label>Home Country</label><br>
    <select name="country">
        <option value="">Select Country</option>
        {{#countries}}
        <option value="{{code}}"{{{selected}}}>{{name}}</option>{{/countries}}
    </select>

<p><label>Genre</label><br><input type="text" name="genre1" value="{{genre1}}">
<p><label>Genre</label><br><input type="text" name="genre2" value="{{genre2}}">
<p><label>Genre</label><br><input type="text" name="genre3" value="{{genre3}}">

<p><label>Description (Short Bio)</label><br>
    <textarea name="desc">{{desc}}</textarea></p>
<p><label>Bio</label><br>
    <textarea name="bio">{{bio}}</textarea></p>
<p><label>Contact Information</label><br>
<textarea name="contact">{{contact}}</textarea></p>
<p>Your bio and contact information must be plain text, but may also use <a href="https://www.markdownguide.org/" target="_blank">markdown syntax</a>.</p>

<h2>Social Media</h2>
<p><label>Facebook</label><br>
    <input type="url" name="social-fb" value="{{social.fb}}">
<p><label>Spotify</label><br>
    <input type="url" name="social-spotify" value="{{social.spotify}}">
<p><label>Instagram</label><br>
    <input type="url" name="social-instagram" value="{{social.instagram}}">
<p><label>YouTube</label><br>
    <input type="url" name="social-youtube" value="{{social.youtube}}">
<p><label>TikTok</label><br>
    <input type="url" name="social-tiktok" value="{{social.tiktok}}">
<p><label>Podcast</label><br>
    <input type="url" name="social-podcast" value="{{social.podcast}}">

<h2>Payment Types</h2>
<p><label>Venmo</label> (Username starting with @)<br>
    <input type="text" name="pay-venmo" value="{{payment.venmo}}">

<footer><p><button>Update Band Information</button></footer>
</form>
</section>

</article>
