<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="site-page">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{#contactHtml}}
<section>
<h5>Contact Info</h5>
{{{.}}}
</section>
{{/contactHtml}}

<section>
{{{descHtml}}}

{{{bioHtml}}}
</section>

{{#hasPhotos}}
<section>
<h2>Promotional Photos</h2>
<div class="photos">
{{#promo-photos}}
<a href="/photo/{{file}}" target="_photo"><img src="/photo/{{thumb}}"></a>
{{/promo-photos}}
</div>
</section>
{{/hasPhotos}}

{{#hasPress}}
<section>
<h2>Press</h2>
<ul>
{{#pressList}}
<li><a href="{{{url}}}">{{headline}}</a>
{{/pressList}}
</ul>
</section>
{{/hasPress}}

{{#members}}
<section>
<h2>{{name}}</h2>
{{#photo}}
<img src="/photo/{{.}}" alt="{{name}}">
{{/photo}}
{{{location}}}
{{{bioHtml}}}
</section>
{{/members}}

</article>
