<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="site-page">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{#contactHtml}}
<section>
<h5>Contact Info</h5>
{{{.}}}
</section>
{{/contactHtml}}

<section>
{{{descHtml}}}

{{{bioHtml}}}

{{#hasPress}}
<h2>Press</h2>
<ul>
{{#pressList}}
<li><a href="{{{url}}}">{{headline}}</a>
{{/pressList}}
</ul>
{{/hasPress}}

{{#members}}
<section>
<h2>{{name}}</h2>
{{#photo}}
<img src="/photo/{{.}}" alt="{{name}}">
{{/photo}}
{{{location}}}
{{{bioHtml}}}
</section>
{{/members}}

</article>
