<!doctype html>
<html lang="en">
<title>Reset Password - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article id="main">
<section>

<h1>Reset Your Password</h1>
<p>A reset link will be emailed to your email address.</p>

{{#msg}}
<p class="error">{{.}}</p>
{{/msg}}

<form method="POST" action="{{API_DIR}}/forgot-password" enctype="application/x-www-form-urlencoded">
<p><label>Email</label><br>
    <input type="text" name="email" type="email" id="email" required="required">
<div id="error"></div>
<p><button>Reset Password</button>
</form>
</section>

</article>
