<!doctype html>
<html lang="en">
<title>Set Password - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>Set Password</h1>

{{{message-display}}}

<section>
<form method="POST" action="{{API_DIR}}/password/{{id}}" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="token" value="{{token}}">
<input type="hidden" name="email" value="{{email}}">
<h5>For {{email}}</h5>
{{#msg}}
<p class="error">{{.}}</p>
{{/msg}}

<p><label>New Password</label><br>
    <input type="password" name="passwordNew" autofocus="autofocus" required="required">
<p><label>Confirm New Password</label><br>
    <input type="password" name="passwordConfirm" required="required">
<p><button>Set Password</button>
</form>
</section>

</article>
