<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{{API_DIR}}}/">Home</a> &gt; <a href="{{{API_DIR}}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

<section>
{{descHtml}}
{{#mediaLinks}}
<p><a href="{{url}}">{{action}} on {{domain}}</a></p>
{{/mediaLinks}}

{{#lyrics}}
<section>
<h2>Lyrics</h2>
<pre>{{.}}</pre>
</section>
{{/lyrics}}
</article>
