<!doctype html>
<html lang="en">
<title>{{resourceNameCap}}s - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{resourceName}}s</h1>

{{#loggedIn}}
<section>
<h2>Create New {{resourceName}}</h2>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/">

<p><label>Name</label>*<br>
    <input type="text" name="name" autofocus="autofocus" required="required">

<p><label>Duration</label><br>
    <input type="number" name="durationM" min="0" max="120" step="1" value="1"> minutes
    <input type="number" name="durationS" min="0" max="60" step="1" value="0"> seconds

<p><label>Description<br><textarea name="desc"></textarea></p>
<p><label>Story<br><textarea name="story"></textarea></p>

<h3>Audio</h3>

<p><label>Spotify</label><br>
    <input type="text" name="spotify">

<p><label>Apple Music</label><br>
    <input type="text" name="apple">

<p><label>Amazon Music</label><br>
    <input type="text" name="amazon">

<p><label>CD Baby</label><br>
    <input type="text" name="cdbaby">

<p><label>YouTube</label><br>
    <input type="text" name="youtube">

<h3>Video</h3>

<p><label>YouTube</label><br>
<input type="text" name="video-youtube">

<p><label>Facebook</label><br>
<input type="text" name="videofb">

<p><label>Lyrics<br><textarea name="lyrics"></textarea></p>

<p><button>Create {{resourceName}}</button>
</form>
</section>
{{/loggedIn}}

<section>
{{#song}}
<h4><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{name}}</a></h4>
{{/song}}
</section>

</article>
