<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{{API_DIR}}}/">Home</a> &gt; <a href="{{{API_DIR}}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

<section>
{{descHtml}}
{{#audio.spotify}}
<p><a href="{{.}}">Listen on Spotify</a></p>
{{/audio.spotify}}
{{#audio.youtube}}
<p><a href="{{.}}">Listen on YouTube Music</a></p>
{{/audio.youtube}}
</section>

{{#hasVideo}}
<section>
<h2>Video</h2>
{{#video.youtube}}
<p><a href="{{.}}">Watch on YouTube</a></p>
{{/video.youtube}}
{{#video.fb}}
<p><a href="{{video.fb}}">Watch on Facebook</a></p>
{{/video.fb}}
</section>
{{/hasVideo}}

{{#lyrics}}
<section>
<h2>Lyrics</h2>
<pre>{{.}}</pre>
</section>
{{/lyrics}}
</article>
