<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{resourceName}}</h1>

{{^loggedIn}}
<section>
<h3>{{name}}</h3>
<p><img src="{{cover-front}}"></p>
<p><img src="{{cover-back}}"></p>
<pre>{{desc}}</pre>
<h4>Audio</h4>
<p><a href="{{audio.spotify}}">{{audio.spotify}}</a></p>
<p><a href="{{audio.apple}}">{{audio.apple}}</a></p>
<p><a href="{{audio.amazon}}">{{audio.amazon}}</a></p>
<p><a href="{{audio.cdbaby}}">{{audio.cdbaby}}</a></p>
<p><a href="{{audio.youtube}}">{{audio.youtube}}</a></p>
<h4>Video</h4>
<p><a href="{{video.youtube}}">{{video.youtube}}</a></p>
<p><a href="{{video.fb}}">{{video.fb}}</a></p>
</section>
{{/loggedIn}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/{{id}}">
<input type="hidden" name="method" value="PUT">

<p><label>Name</label>*<br>
    <input type="text" name="name" value="{{name}}" autofocus="autofocus" required="required">

<p><label>Made Popular By</label> (If not written by you)*<br>
    <input type="text" name="artist" value="{{artist}}">

<p><label>Duration</label>*<br>
    <input type="number" name="durationM" min="0" max="120" step="1" value="{{durationM}}"> minutes
    <input type="number" name="durationS" min="0" max="60" step="1" value="{{durationS}}"> seconds
<p><label>Description<br><textarea name="desc">{{desc}}</textarea></p>

<p><label>Genre</label><br>
    <select name="genre1">
        <option value="">Select Main Genre</option>
        {{#genres}}
        <option value="{{name}}"{{{selected}}}>{{name}}</option>{{/genres}}
        </select>
<p>Sub-genre<br><input type="text" name="genre2" value="{{genre2}}">
<p>Sub-genre<br><input type="text" name="genre3" value="{{genre3}}">

<p><label>Story<br><textarea name="desc">{{story}}</textarea></p>

<h3>Audio</h3>
<p><label>Spotify</label><br>
    <input type="text" name="spotify" value="{{audio.spotify}}">
<p><label>Apple Music</label><br>
    <input type="text" name="apple" value="{{audio.apple}}">
<p><label>Amazon Music</label><br>
    <input type="text" name="amazon" value="{{audio.amazon}}">
<p><label>YouTube</label><br>
    <input type="text" name="youtube" value="{{audio.youtube}}">
<p><label>CD Baby</label><br>
    <input type="text" name="cdbaby" value="{{audio.cdbaby}}">

<h3>Audio</h3>
<p><label>YouTube</label><br>
    <input type="text" name="video-youtube" value="{{video.youtube}}">
<p><label>CD Baby</label><br>
    <input type="text" name="video-fb" value="{{video.fb}}">

<p><label>Lyrics<br><textarea name="lyrics">{{lyrics}}</textarea></p>

<p><button>Update {{resourceName}}</button>
</form>
</section>

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>
{{/loggedIn}}
</article>
