<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - API - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{pageName}}</h1>

<h5><a href="{{{API_DIR}}}/">Home</a> &gt; <a href="{{{API_DIR}}}/{{resourceName}}">{{resourceName}}s</a> &gt; {{pageName}}</h5>

{{{message-display}}}

<section>
<form method="POST" action="{{{API_DIR}}}/{{resourceName}}/{{id}}">
<input type="hidden" name="method" value="PUT">

<p><label>Name</label>*<br>
    <input type="text" name="name" value="{{name}}" autofocus="autofocus" required="required">

<p><label>Original Artist</label> (If not you)<br>
    <input type="text" name="artist" value="{{artist}}">

<p><label>Duration</label><br>
    <input type="number" name="durationM" min="0" max="120" step="1" value="{{durationM}}"> minutes
    <input type="number" name="durationS" min="0" max="60" step="1" value="{{durationS}}"> seconds
<p><label>Description<br><textarea name="desc">{{desc}}</textarea></p>

<p><label>Genre</label><br>
    <select name="genre1">
        <option value="">Select Main Genre</option>
        {{#genres}}
        <option value="{{name}}"{{{selected}}}>{{name}}</option>
        {{/genres}}
    </select>
<p><label>Sub-genre</label><br>
    <input type="text" name="genre2" value="{{genre2}}">
<p><label>Sub-genre</label><br>
    <input type="text" name="genre3" value="{{genre3}}">

<p><label>Release Date</label><br>
    (Song information will be private until this date.)<br>
    <input type="date" name="releaseDate" value="{{releaseDate}}">

<p><label>Story<br>
    <textarea name="desc">{{story}}</textarea></p>

<h3>Audio</h3>
<p><label>Spotify</label><br>
    <input type="url" name="spotify" value="{{audio.spotify}}">
<!--<p><label>Apple Music</label><br>
    <input type="url" name="apple" value="{{audio.apple}}">
<p><label>Amazon Music</label><br>
    <input type="url" name="amazon" value="{{audio.amazon}}">-->
<!-- <p><label>YouTube Music</label><br>
    <input type="url" name="youtube" value="{{audio.youtube}}"> -->
<!--<p><label>CD Baby</label><br>
    <input type="url" name="cdbaby" value="{{audio.cdbaby}}">-->

<h3>Video</h3>
<p><label>YouTube</label><br>
    <input type="url" name="video-youtube" value="{{video.youtube}}">
<p><label>Facebook</label><br>
    <input type="url" name="video-fb" value="{{video.fb}}">

<p><label>Lyrics<br>
    <textarea name="lyrics">{{lyrics}}</textarea></p>

<footer><p><button>Update {{resourceName}}</button></footer>
</form>
</section>

<section>
<p><a class="button" href="{{{API_DIR}}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>

<section class="list">
<h4>Songs</h4>
{{#songs}}
<p><a href="{{API_DIR}}/{{resourceName}}/{{id}}">{{name}}</a></p>
{{/songs}}
</section>

</article>
