<!doctype html>
<html lang="en">
<title>{{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>Your Local Band</h1>

<section>
<h2><a href="{{API_DIR}}/site">Site</a></h2>
<p>Customize web site colors, fonts, and graphics.
<h2><a href="{{API_DIR}}/band">Band</a></h2>
<p>Your band's name, story, social media, and contact information.
<h2><a href="{{API_DIR}}/gig">Gigs</a></h2>
<p>Information about upcoming and past shows.
<h2><a href="{{API_DIR}}/venue">Venues</a></h2>
<p>Manage the places you play with directions and descriptions for your fans, and notes and contact details for your managers and booking agents.
<h2><a href="{{API_DIR}}/song">Songs</a></h2>
<p>Information and links about your repertoire.
<h2><a href="{{API_DIR}}/release">Releases</a></h2>
<p>Document the publishing of your original recordings.
<h2><a href="{{API_DIR}}/announcement">Announcements</a></h2>
<p>Highlight your current campaigns in a special section at the top of your home page.
<h2><a href="{{API_DIR}}/user">Members</a></h2>
<p>Add and manage band members and others who help administer your band's information.
</section>
</article>