<!doctype html>
<html lang="en">
<title>{{homeName}}</title>
{{{head}}}

<body id="home-page">
{{{header}}}

<article>
<h1>Support Your Local Band</h1>

<section>
<h2><a href="{{API_DIR}}/site">Site</a></h2>
<p>Customize the web site colors, fonts, social media links, and more.
<h2><a href="{{API_DIR}}/band">Band</a></h2>
<p>Specify your band's name, story,and contact information.
<h2><a href="{{API_DIR}}/venue">Venues</a></h2>
<p>Manage the places you play with directions and descriptions for your propective audience, and notes and contact details for you managers and booking agents.
<h2><a href="{{API_DIR}}/gig">Gigs</a></h2>
<p>Information about upcoming and past shows.
<h2><a href="{{API_DIR}}/announcement">Announcements</a></h2>
<p>Draw attention to your current campaigns in a special section at the top of your home page.
<h2><a href="{{API_DIR}}/song">Songs</a></h2>
<p>Information and links about your repertoire.
<h2><a href="{{API_DIR}}/release">Releases</a></h2>
<p>Define the publishing or original recordings: albums and singles.
<h2><a href="{{API_DIR}}/user">Members</a></h2>
<p>Add and manage band members and others that can administer the site.
</section>
</article>