<!doctype html>
<html lang="en">
<title>API Tests - {{homeName}}</title>
{{{head}}}
<style>
p.fail {color: red; }
</style>

<body id="site-page">
{{{header}}}

<article>
<h1>API Tests</h1>

<section>
<p><button>Run tests</button>
<h2>Results</h2>
</section>
</article>

<script>
var API_DIR = "/api";
var createdUrl;
var testData = {
    "song": {
        "name": "Song Title",
        "artist": "Beatles",
        "desc": `Song desc

Next line
`,
        "lyrics": `La la
La la`,
        "durationM": "3",
        "durationS": "30",
        "genre1": "Folk",
        "genre2": "Americana",
        "genre3": "Humor",
        "cover-front": "t483wohfuoeis.jpg",
        "cover-back": "njvaosnjkldsanjl.png",
        "spotify": "https://open.spotify.com/track/6MjKUWOgJIoAXDlXAO9loY?si=0f2f2cfcdbb94a64",
        "apple": "",
        "amazon": "",
        "youtube": "",
        "cdbaby": "",
        "video-youtube": "",
        "video-fb": ""
    },
    "song-result": {
        "resourceName":"song",
        "name":"Song Title",
        "artist":"Beatles",
        "desc":"Song desc\n\nNext line\n",
        "lyrics":"La la\nLa la","durationM":"3",
        "durationS":"30",
        "genre1":"Folk",
        "genre2":"Americana",
        "genre3":"Humor",
        "cover-front":"t483wohfuoeis.jpg",
        "cover-back":"njvaosnjkldsanjl.png",
        "audio": {
            "spotify":"https://open.spotify.com/track/6MjKUWOgJIoAXDlXAO9loY?si=0f2f2cfcdbb94a64",
            "apple":"",
            "amazon":"",
            "youtube":"",
            "cdbaby":""
        },
        "video": {
            "youtube":"",
            "cdbaby":""
        }
    }
};

var tests = [
    {
        "name": "Get all songs",
        "url": "/api/song/",
        "verb": "GET"
    },
    {
        "name": "Create invalid song",
        "url": "/api/song/",
        "verb": "POST",
        "body": {},
        "Content-Type": "application/json",
        "resultStatus": 400
    },
    {
        "name": "Create new song",
        "url": "/api/song/",
        "verb": "POST",
        "body": testData.song,
        "Content-Type": "application/json",
        "resultStatus": 201
    },
    {
        "name": "Check created song",
        "url": "createdUrl",
        "verb": "GET",
        "resultData": testData["song-result"]
    },
    {
        "name": "Delete created test song",
        "url": "createdUrl",
        "verb": "DELETE"
    }
];
function runTest(test) {
    var xhr = new XMLHttpRequest();
    var url = test.url;
    if (url === "createdUrl") {
        url = createdUrl;
    }
    xhr.open(test.verb, url, false);
    xhr.setRequestHeader("Accept", "application/json");
    var bodyString = test.body;

    if (test["Content-Type"]) {
        xhr.setRequestHeader("Content-Type", "application/json");
        bodyString = JSON.stringify(bodyString);
    }
    xhr.send(bodyString);

    var success = true;
    var p = document.createElement("p");
    var resultStatus = "OK";
    test.resultStatus = test.resultStatus || 200;
    if (xhr.status !== test.resultStatus) {
        resultStatus = "FAIL";
        success = false;
    }

    var resultText = "";
    var testString = "";
    if (test.resultData) {
        testString = JSON.stringify(test.resultData);
        responseString = JSON.stringify(JSON.parse(xhr.responseText));

        if (testString === responseString) {
            resultText = "Data response OK";
        } else {
            resultText = "Data response FAIL";
            success = false;
        }
    }
    if (!success) {
        p.className = "fail";
    }
    p.textContent = `${test.name} ${xhr.status} ${resultStatus} ${resultText}`;
    document.querySelector("section").appendChild(p);

    if (xhr.status === 201) {
        createdUrl = xhr.getResponseHeader("location");
    }
}

function runTests() {
    tests.forEach(test => {
        runTest(test);
    });
}

document.querySelector("button").addEventListener("click", runTests);
</script>
