<!doctype html>
<html lang="en">
<title>Set Password : {{eventName}} - {{homeName}}</title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link rel="icon" type="image/png" href="{{API_DIR}}/favicon.ico">
<style>

</style>

<body id="password-page">
<header>
<figure>
<img src="https://virevdev01.bluewatertech.com/inc/img/logo__kenworth.png">
<figcaption>The Right Choice</figcaption>
</figure>
</header>

<article>

<section>

<h1>Reset Your Password</h1>
<p>A reset link will be emailed to your email address.</p>

{{#msg}}
<p class="error">{{.}}</p>
{{/msg}}

<form method="POST" action="{{API_DIR}}/forgot-password" enctype="application/x-www-form-urlencoded" onsubmit="return validate(this)">
<p><label>Email</label><br>
    <input type="text" name="email" type="email" id="email">
<div id="error"></div>
<p style="text-align: right; padding-top: 2em;"><button>Reset Password</button>
</form>
</section>

</article>

<script>
function validate(form) {
    if (!document.getElementById("email").value) {
        document.getElementById('error').textContent = "Email required.";
        return false;
    }
    return true;
}
</script>
