<!doctype html>
<html lang="en">
<title>Password - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>Change Password</h1>

<section>
<form method="POST" action="{{API_DIR}}/password" enctype="application/x-www-form-urlencoded" onsubmit="return validate(this)">
<!-- <input type="hidden" name="method" value="PUT"> -->
<input type="hidden" name="token" value="{{token}}">

{{#msg}}
<p class="error">{{.}}</p>
{{/msg}}

<p><label>New Password</label><br>
    <input type="password" id="password" name="passwordNew"{{^currentPassword}} autofocus="autofocus"{{/currentPassword}}>
<p><label>Confirm New Password</label><br>
    <input type="password" name="passwordConfirm" id="passwordConfirm">
<div id="error"></div>
<p style="text-align: right; padding-top: 2em;"><button>Set Password</button>
</form>
</section>

</article>

<script>
function validate(form) {
    if (!document.getElementById("password").value) {
        document.getElementById('error').textContent = "Password required.";
        return false;
    }
    if (document.getElementById("password").value !== document.getElementById("passwordConfirm").value) {
        document.getElementById('error').textContent = "Passwords don't match.";
        return false;
    }
    return true;
}
</script>
