<!doctype html>
<html lang="en">
<title>{{pageName}} - API - {{homeName}}</title>
{{{head}}}

<body id="user-page">
{{{header}}}

<article id="main">
<h1>{{pageName}}</h1>

<h5><a href="{{API_DIR}}/">Home</a> &gt; {{pageName}}</h5>

{{{message-display}}}

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/{{resourceName}}/" enctype="application/x-www-form-urlencoded">
<p><label>Email</label>*<br>
<input type="text" name="email" required="required" autofocus="autofocus" value="{{formData.email}}">
<p><label>First Name</label><br>
    <input type="text" name="givenName" value="{{formData.givenName}}">
<p><label>Surname</label><br>
    <input type="text" name="surname" value="{{formData.surname}}">
<p><label>Position</label> (Singer, guitarist, manager, etc.)<br>
    <input type="text" name="position" value="{{formData.position}}">
<p><label>Home City</label><br>
    <input type="text" name="city" value="{{formData.city}}">
<p><label>Home State</label><br>
    <input type="text" name="state" value="{{formData.state}}">
<p><label>Home Country</label><br>
    <select name="country">
        <option value="">Select Country</option>
        {{#countries}}
        <option value="{{code}}"{{{selected}}}>{{name}}</option>{{/countries}}
    </select>

<h2>Photo</h2>
<div class="photos">
<label>
    <input type="radio" name="photo" value=""{{{no-photo}}}>
    <img src="{{API_DIR}}/nophoto" alt="No photo">
</label>
{{#photos}}
<label>
    <input type="radio" name="photo" value="{{file}}"{{{selected}}}>
    <img src="/photo/{{thumb}}">
</label>
{{/photos}}
</div>

<p>
    <label><input type="checkbox" value="Y" name="admin"{{{adminChecked}}}> Admin</label>
    (Will be able to create and edit other users.)
</p>
<p>
    <label><input type="checkbox" value="Y" name="bandMember"{{{memberChecked}}}> Band Member</label>
    (Bio and other information will appear on the about page.)
</p>

<p><label>Bio</label><br><textarea name="bio">{{formData.bio}}</textarea>

<footer><p><button>Create New User</button></footer>
</form>
</section>

<section class="list">
{{#user}}
<p><a href="{{API_DIR}}/user/{{id}}">{{userName}}</a>
{{#token}}
(<a href="{{API_DIR}}/password/{{id}}?token={{token}}">Reset URL</a>)
{{/token}}
{{/user}}
</section>
{{/loggedIn}}

</article>
