<!doctype html>
<html lang="en">
<title>{{pageName}} - {{resourceNameCap}} - {{homeName}}</title>
{{{head}}}

<body>
{{{header}}}

<article>
<h1>{{givenName}} {{surname}}</h1>

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/user/{{id}}" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="method" value="PUT">

<p><label>First Name</label><br>
    <input type="text" name="givenName" value="{{givenName}}" autofocus="autofocus">
<p><label>Last Name</label><br>
    <input type="text" name="surname" value="{{surname}}">
<p><label>Email</label>*<br>
    <input type="text" name="email" value="{{email}}" required="required">

<p>
    <label><input type="checkbox" value="Y"{{{adminChecked}}} name="admin"> Admin</label>
    <label><input type="checkbox" value="Y"{{{memberChecked}}} name="bandMember"> Band Member</label>
</p>

<!-- <p><label>Photo</label><br>
    <input type="text" name="photo" value="{{photo}}"> -->

<p><label>Bio<br><textarea name="bio">{{bio}}</textarea></p>

<p><button>Update User Data</button>
</form>
</section>

{{#isOwnUser}}
<section>
<h3>Change Password</h3>
<form method="POST" action="{{API_DIR}}/password/{{id}}">
<input type="hidden" name="method" value="PUT">
<p><label>Current Password</label><br>
    <input type="password" id="password" name="password" required="required">
<p><label>New Password</label><br>
    <input type="password" id="password" name="passwordNew" required="required">
<p><label>Confirm New Password</label><br>
    <input type="password" name="passwordConfirm" id="passwordConfirm" required="required">
<p><button>Change Password</button></p>
</form>
</section>
{{/isOwnUser}}

{{^isOwnUser}}
<section>
{{#admin}}
{{^token}}
<form method="POST" action="{{API_DIR}}/password/{{id}}" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="method" value="DELETE">
<p><button>Reset Password</button>
</form>
{{/token}}
{{#token}}
<p><a href="{{API_DIR}}/password/{{id}}?token={{token}}">Password reset URL</a>
{{/token}}
{{/admin}}
</section>
{{/isOwnUser}}

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>
{{/loggedIn}}

{{^loggedIn}}
<section>
<p>Band Member {{bandMember}}</p>
<p>Admin {{admin}}</p>
<pre>{{bio}}</pre>
</section>
{{/loggedIn}}
</article>