<!doctype html>
<html lang="en">
<title>{{givenName}} {{surname}} : {{eventName}}</title>
{{{head}}}

<body id="user-page">
{{{header}}}

<article>
<h1>{{givenName}} {{surname}}</h1>

{{#loggedIn}}
<section>
<form method="POST" action="{{API_DIR}}/user/{{id}}" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="method" value="PUT">

<p><label>First Name</label><br>
    <input type="text" name="givenName" value="{{givenName}}">
<p><label>Last Name</label><br>
    <input type="text" name="surname" value="{{surname}}">
<p><label>Email</label>*<br>
    <input type="text" name="email" value="{{email}}" required="required">

<p>
    <label><input type="checkbox" value="Y"{{{adminChecked}}} name="admin"> Admin</label>
    <label><input type="checkbox" value="Y"{{{memberChecked}}} name="bandMember"> Band Member</label>
</p>

<!-- <p><label>Photo</label><br>
    <input type="text" name="photo" value="{{photo}}"> -->

<p><label>Bio<br><textarea name="bio">{{bio}}</textarea></p>

<p><button>Update User Data</button>
</form>
</section>

<!--<section>
<h3>Reset Password</h3>
{{#token}}
<p>Reset Link: <a href="{{API_DIR}}/password/{{id}}?token={{token}}">{{API_DIR}}/password/{{id}}?token={{token}}</a>
<form method="POST" action="{{API_DIR}}/resend-reg/{{id}}">
<p><button>Resend Register Email</button>
</form>
{{/token}}
{{^token}}
<form method="POST" action="{{API_DIR}}/password/{{id}}">
<input type="hidden" name="method" value="DELETE">
<p><button>Reset Password</button></p>
</form>
{{/token}}
</section>

<section>
<p><a class="button" href="{{API_DIR}}/delete?resource={{resourceName}}&id={{id}}">Delete {{resourceName}}</a></p>
</section>
{{/loggedIn}}-->

{{^loggedIn}}
<section>
<p>Band Member {{bandMember}}</p>
<p>Admin {{admin}}</p>
<pre>{{bio}}</pre>
</section>
{{/loggedIn}}
</article>