<!doctype html>
<html lang="en">
<title>Users</title>
{{{head}}}

<body id="user-page">
{{{header}}}

<article>
<h1>Users</h1>

{{#loggedIn}}
<section>
<h2>Create User</h2>
<form method="POST" action="{{API_DIR}}/user/" enctype="application/x-www-form-urlencoded">
<p><label>First Name</label><br>
    <input type="text" name="givenName" autofocus="autofocus">
<p><label>Surname</label><br>
    <input type="text" name="surname">
<p><label>Email</label>*<br>
    <input type="text" name="email" required="required">
<p><label>City</label><br>
    <input type="text" name="city">
<p><label>State</label><br>
    <input type="text" name="state">
<p><label>Country</label><br>
    <select name="country">
        <option value="">Select Country</option>
        {{#countries}}
        <option value="{{code}}"{{{selected}}}>{{name}}</option>{{/countries}}
    </select>

<h4>Photo</h4>
<div class="photos">
<input type="radio" name="photo" value="" id="photo-none"{{{no-photo}}}><label for="photo-none"><img src="{{API_DIR}}/nophoto.png" alt="No photo"></label>
{{#photos}}<input type="radio" name="photo" value="{{.}}" id="photo-{{.}}"><label for="photo-{{.}}"><img src="/photos/{{.}}"></label>{{/photos}}
</div>

<p>
    <label><input type="checkbox" value="Y" name="admin"> Admin</label>
    <label><input type="checkbox" value="Y" name="bandMember"> Band Member</label>
</p>

<p><label>Bio</label><br><textarea name="bio"></textarea>

<p><label>Initial Password</label><br>
    <input type="text" name="password">

<p><button>Create New User</button>
</form>
</section>
{{/loggedIn}}

<section>
{{#user}}
<h4><a href="{{API_DIR}}/user/{{id}}">{{givenName}} {{surname}} {{email}}</a></h4>
{{#token}}
<ul><li><a href="{{subDir}}/password/{{id}}?token={{token}}">{{email}} reset URL</a></ul>
{{/token}}
{{/user}}
</section>

</article>
